<div class="flex">
  <div class="w-4/5">
    {{outlet}}
  </div>
  <nav class="w-1/5">
    <ul class="list-reset flex flex-col">
      <li>{{link-to "Index" "validation-components.field.overview" model}}</li>
      <li>{{link-to "Properties" "validation-components.field.validation-options" model}}</li>
      <li>{{link-to "Functions" "validation-components.field.actions" model}}</li>
    </ul>
  </nav>
</div>
