<article class="w-4/5">
  <section>
    <h1>Schemas</h1>
    <p>Schemas are objects that represent and validate logical data models.</p>
    <p>Yup supports validating different types and combinations of data: strings, numbers, booleans, dates, arrays, and objects. See the <a href="https://github.com/jquense/yup#api" target="_blank" rel="noopener noreferrer">Yup API documentation here.</a></p>
  </section>
  <section>
    <h2>Usage</h2>
    <p>Schema objects are immutable, so each call of a method returns a new schema object.</p>
    <p><strong>Try it out: <a href="https://tonicdev.com/570c52590a85f71200eb09ba/yup" target="_blank" rel="noopener noreferrer">Yup playground</a></strong></p>
    <p>When using es module syntax, yup exports everything as a named export.</p>
    {{markdown-to-html importSnippet class="codeblock"}}
    {{markdown-to-html usageSnippet class="codeblock"}}
  </section>
</article>
