{{outlet}}

<!-- <h2>all templates</h2>
<table>
  <thead>
    <tr>
      <th>{{id}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |template|}}
      <tr>
        <td>{{link-to template.id "yup-playground.edit" template.id}}</td>
      </tr>
    {{/each}}
  </tbody>
</table> -->
