<nav class="mb-8">
  {{link-to "← Blog" "blog.index" class="text-grey"}}
</nav>

<article class="w-4/5">
  <header>
    <time datetime="2019-05-02" class="text-grey font-medium">
      May 2, 2019
    </time>

    <h1 class="docs-md__h1">
      Ember Yup beta has arrived!
      <small><span class="text-grey font-normal text-sm">by Edward Gaba</span></small>
    </h1>
  </header>

  <div class="docs-md">
    <p><a href="https://github.com/jquense/yup" target="_blank" rel="noopener noreferrer">Yup</a> is a JavaScript object schema validator and object parser inspired by Joi. It's a library that pairs perfectly with modern web apps for validating data on the client.</p>
    <p>This initial release includes form field components that validate strings, numbers, booleans, dates, and forms.</p>
    <p>If you're new to Yup, {{link-to "check out the tutorial" "getting-started.quick-start.index"}} for an example of how to validate data using an object schema.</p>
    <p>If you or your team are using Ember Yup and are running into any issues, I'd love to hear from you! Feel free to email me at <span class="font-bold">egaba88@gmail.com</span> or <a target="_blank" rel="noopener noreferrer" href="https://github.com/egaba88/ember-yup/issues">leave a question in Github</a>.</p>
    <p>Thanks! ✌️</p>
  </div>
</article>
