<section>
  <h1>Controller</h1>
  <p>Let's set up a computed property for the schema, an object to house the form data, an array to house our error messages, and an action to handle the form submission.</p>
  {{markdown-to-html controllerCode class="codeblock"}}
</section>
<footer class="mt-8 mb-16">
  {{link-to "← Previous: Define schema" "getting-started.quick-start.define-schema" class="float-left"}}
  {{link-to "Next: Build template →" "getting-started.quick-start.build-template" class="float-right"}}
</footer>
