<h1>ValidationForm</h1>
<p>
  This component acts as a container for FormField components and collects their
  validations during form submission. Default form validation is async.
</p>
<p>The form outputs a data hash keyed by its fields' <code>name</code> properties.</p>
<p>
  When the form submits, the <code>onSubmit</code> action is invoked yielding a
  hash of promises that hold the validation results of the fields.
</p>
{{outlet}}
