{{yield state (hash
    onChange=(action "onChange")
    onBlur=(action (mut didBlur) true)
    onClear=(action "onClear")
  )
}}

{{#if debug}}
  <table class="table">
    <thead>
      <tr>
        <th>typeof(value)</th>
        {{#each-in state as |key|}}
          {{#unless (or (eq key "errorMessages") (eq key "value"))}}
            <th>{{key}}</th>
          {{/unless}}
        {{/each-in}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{typeOfValue}}</td>
        {{#each-in state as |key val|}}
          {{#unless (or (eq key "errorMessages") (eq key "value"))}}
            <td>{{val}}</td>
          {{/unless}}
        {{/each-in}}
      </tr>
    </tbody>
  </table>
{{/if}}
