<h1 class="mb-10">Blog</h1>

<section>
  <h2 class="mb-1">{{link-to "Beta has arrived!" "blog.v1-release" class="no-underline hover:underline text-grey-darkest font-medium"}}</h2>
  <div class="text-xs text-grey font-medium">
    <span class="">by Edward Gaba</span>
    <span class="inline-block">·</span>
    <time datetime="2019-05-02">May 2, 2019</time>
  </div>
</section>
