<div class="container">
  {{markdown-to-html installationInstructions class="bg-grey-lightest p-5 mb-3"}}
  <div class="w-3/5">
    <p>This will install the yup npm module and ember-cli-cjs-transform Ember addon.</p>
    <p>I highly recommend you create your own components and use the yup library directly for validating data. Until v1.0.0, validation components are experimental. See the {{link-to "Schema Validation" "validate-schema"}} section for a quick start example of how to validate data.</p>
  </div>
</div>
