<div class="container">
  {{markdown-to-html installationInstructions class="bg-grey-lightest p-5 mb-3"}}
  <div class="w-4/5">
    <p>This will install the yup npm module and ember-cli-cjs-transform Ember addon.</p>
    <p>See the {{link-to "Schema Validation" "validate-schema"}} section for a quick start example of how to validate data. Please note that until v1.0.0, {{link-to "validation components" "validation-components"}} are experimental.</p>
  </div>
</div>
