<section>
  <h1>Define the schema</h1>
  <p>Imagine we have a User model that looks like this:</p>
  {{markdown-to-html modelCode class="codeblock"}}
  <p>In order to validate this model, we'll define a schema that will be used for validation.</p>
  {{markdown-to-html schemaCode class="codeblock"}}
</section>
<footer class="mt-8 mb-16">
  {{link-to "← Previous: Demo" "getting-started.quick-start.demo" class="float-left"}}
  {{link-to "Next: Setup controller →" "getting-started.quick-start.setup-controller" class="float-right"}}
</footer>
