<section class="mb-10">
  <h2>Text Field</h2>
  <p>This component is used for validating strings.</p>
</section>

<div class="">
  <ul class="flex list-reset">
    <li><a href="#">Index</a></li>
    <li><a href="#">Input</a></li>
    <li><a href="#">Output</a></li>
    <li><a href="#">Private</a></li>
  </ul>
</div>

<div class="container">
  {{outlet}}
</div>
