<section>
  <h1>Template</h1>
  <p>Using the properties defined in the controller, build a standard form.</p>
  {{markdown-to-html templateCode}}
</section>
<footer class="mt-8 mb-16">
  {{link-to "← Previous: Build template" "getting-started.quick-start.build-template" class="float-left"}}
  {{link-to "Next: Demo →" "getting-started.quick-start.demo" class="float-right"}}
</footer>
