<h2>Sync submission</h2>
<p>When a sync form is submitted, the form will wait until all of its fields promises have resolved. If all fields are valid, <code>onSuccess</code> will be invoked with a hash of the form data; otherwise, <code>onReject</code> will be invoked with a hash of error messages.</p>
