<div class="py-16">
  <section class="pb-20 mb-20 text-center">
    <h1 class="mb-2 px-4 text-3xl">Oooh! Building forms is my favorite!</h1>
    <em class="font-medium text-grey-dark italic">- said no one, ever</em>
  </section>

  <div class="container">
    <h2 class="md:text-center">The 3 flavors of validation</h2>
    <section class="mb-8 flex">

      <WiredCard @class="w-full md:w-1/3 p-6 mb-6">
        <h3>Model validation</h3>
        <p>use mixin to enhance models</p>
        <p>adds method: `validate()`</p>
        <p>adds save option: `save({ validate: true })`</p>
        <p>define rules on `DS.attr` using `validate` option hash</p>
        <p>useful if you like your data config all in one place</p>
        <p>read `errors` as your normally would</p>
        <p>{{link-to "See tutorial" "getting-started.ember-data"}}</p>
      </WiredCard>

      <WiredCard @class="w-full md:w-1/3 p-6 mb-6">
        <h3>Custom schemas</h3>
        <p>create `yup` schemas and validate against them within your app</p>
        <p>provides the most flexibility</p>
        <p>{{link-to "See tutorial" "getting-started.using-schemas"}}</p>
      </WiredCard>

      <WiredCard @class="w-full md:w-1/3 p-6 mb-6">
        <h3>FormField components</h3>
        <p>wrap fields around your controls to validate their values</p>
        <p>the ValidationForm component supports both sync and async submission</p>
        <p>{{link-to "See examples" "getting-started.using-components"}}</p>
      </WiredCard>
    </section>
    <section>
      <p>Ready to try it? {{link-to "install" "getting-started.installation"}} </p>
    </section>
  </div>
</div>
