<div class="py-16">
  <section class="pb-20 mb-20 text-center">
    <h1 class="mb-2 px-4 text-3xl">Oooh! Building forms is my favorite!</h1>
    <em class="font-medium text-grey-dark italic">- said no one, ever</em>
  </section>

  <div class="container-fluid">
    <h2>Ways to validate</h2>
    <div class="row">
      <section class="col-12 mb-8">

        <WiredCard @class="w-full p-6">
          <h3>Build schemas</h3>
          <p>create `yup` schemas and validate against them within your app</p>
          <p>provides the most flexibility</p>
          <a href="#">See tutorial</a>
        </WiredCard>
      </section>

      <section class="col-12 mb-8">

        <WiredCard @class="w-full p-6">
          <h3>Validate models</h3>
          <p>use mixin to enhance models</p>
          <p>adds method: `validate()`</p>
          <p>adds save option: `save({ validate: true })`</p>
          <p>define rules on `DS.attr` using `validate` option hash</p>
          <p>useful if you like your data config all in one place</p>
          <p>read `errors` as your normally would</p>
          <p><a href="#">See tutorial</a> </p>
        </WiredCard>
      </section>
    </div>
    <section class="mb-8">
      <WiredCard @class="w-full p-6">
        <h3>Use FormField components</h3>
        <p>wrap fields around your controls to validate their values</p>
        <p>the ValidationForm component supports both sync and async submission</p>
        <!-- {{field-builder field=model}} -->
        <p><a href="#">See examples</a> </p>
      </WiredCard>
    </section>
    <section>
      <p>Ready to try it? {{link-to "install" "getting-started.installation"}} </p>
    </section>
  </div>
</div>
