<ul>
  <li>{{link-to "sync validation" "validation-components.validation-form.sync"}}</li>
  <li>{{link-to "async validation" "validation-components.validation-form.async"}}</li>
  <!-- <li>{{link-to "nested data (under development)" "validation-components.validation-form.nested-data"}}</li> -->
</ul>

{{outlet}}
