<ul>
  <li>{{link-to "async submission" "validation-components.validation-form.async"}}</li>
  <li>{{link-to "sync submission" "validation-components.validation-form.sync"}}</li>
  <li>{{link-to "nested data" "validation-components.validation-form.nested-data"}}</li>
</ul>

{{outlet}}
