<h1>Field Playground</h1>
{{field-builder field=model showSettings=true}}

TODO:
<ul>
  <li>validation messages code</li>
  <li>number options</li>
  <li>date options</li>
  <li>boolean options</li>
  <li>create data for examples</li>
  <li>replace examples with data</li>
</ul>
