<section>
  <h1>Quick Start</h1>
  <p>In this tutorial, we'll set up a form that validates model data before creating a local record. See {{link-to "demo" "getting-started.quick-start.demo"}}.</p>
  <p>Imagine we have a User model that looks like this:</p>
  {{markdown-to-html modelCode}}
  <p>In order to validate this model, we'll define a schema that will be used for validation.</p>
  {{markdown-to-html schemaCode}}
</section>
<footer class="mt-8 mb-16">
  {{link-to "Next: Setup controller properties →" "getting-started.quick-start.setup-properties" class="float-right"}}
</footer>
