.app-side-nav {
  @apply .bg-grey-lightest .p-5 .w-1/5;
  min-width: 192px;
}

.app-side-nav ul {
  @apply .list-reset .mb-5;
}
.app-side-nav > ul {
  @apply .leading-loose;
}

.app-side-nav > ul > li > ul > li > ul {
  @apply .text-sm;
  line-height: 1.8;
}

.app-side-nav li > ul {
  padding-inline-start: 24px;
}

.app-side-nav li > p {
  @apply .text-base .mb-1 .font-medium;
}

.app-side-nav a {
  @apply .text-grey .no-underline .font-normal;
}

.app-side-nav a:hover {
  @apply .text-grey-dark .no-underline .font-medium;
}

.app-side-nav a.active {
  @apply .text-primary .font-medium;
}
