body {
  @apply .antialiased;
  @apply .font-sans;
  @apply .text-grey-darkest;
}

h1, h2, h3, h4, h5, h6 {
  @apply .mb-6;
}

p {
  @apply .mb-4 .leading-normal;
}

input[type="text"] {
  @apply .border .border-black;
}

button {
  @apply .border .border-blue .py-3 px-5 .bg-blue .text-white;
}

a {
  @apply .cursor-pointer .no-underline .font-medium;
  color: #0070BF;
}

a:hover {
  @apply .underline;
}

main {
  @apply .py-5 .px-8 .w-4/5;
  min-height: 90vh;
}

pre {
  @apply .bg-black .mb-4 .mt-6 .flex overflow-x-scroll;
  border-radius: 2px;
  padding: 16px;
}

code {
  @apply .text-code;
}
