body {
  @apply .antialiased;
  @apply .font-sans;
  @apply .text-grey-darkest;
}

h1, h2, h3, h4, h5, h6 {
  @apply .mb-6;
}

p {
  @apply .mb-4 .leading-normal;
}

input[type="text"] {
  @apply .border .border-grey-darker;
}

a {
  @apply .cursor-pointer .no-underline .font-medium .text-green-dark;
}

a:hover {
  @apply .underline;
}

main {
  @apply .py-5 .px-8 .w-4/5;
  min-height: 90vh;
}

kbd, .markdown code, .snippet {
  color: #616161;
  background: #f5f5f5;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  padding: 0 4px;
}

.codeblock code {
  @apply .text-code;
}

.codeblock pre {
  @apply .bg-black .mb-4 .mt-6 .flex overflow-x-scroll;
  border-radius: 2px;
  padding: 16px;
}

[role="checkbox"] {
  @apply .cursor-pointer inline;
}

nav [role="option"] {
  @apply .cursor-pointer;
}

.demo-container wired-listbox {
  --wired-item-selected-color: #212121;
  --wired-item-selected-bg: #fff382;
}

.demo-container > .nav-tabs {
  top: -46px;
}

.demo-container .demo {
  min-height: 100px;
}

.table {
  @apply .text-left .text-xs;
}
.table th, .table td {
  @apply .px-1;
}
