.app-side-nav {
  @apply .px-4;
  min-width: 192px;
}

.app-side-nav ul {
  @apply .list-reset;
}

.app-side-nav > ul > li > ul {
  @apply .mb-3;
}
.app-side-nav > ul {
  @apply .leading-loose;
}

.app-side-nav > ul > li > ul > li > ul {
  @apply .text-sm;
  line-height: 1.8;
}

.app-side-nav li > ul {
  padding-inline-start: 24px;
}

.app-side-nav li > p {
  @apply .text-base .mb-1 .font-medium;
}

.app-side-nav a:not(.logo-link) {
  @apply .text-grey .no-underline .font-normal;
}

.app-side-nav a:not(.logo-link):hover {
  @apply .text-grey-dark .no-underline .font-medium;
}

.app-side-nav a.active {
  @apply .text-green-dark .font-medium;
}

.page-side-nav {
  @apply .text-sm .flex .flex-col;
}

.page-side-nav > ul > li {
  @apply .mb-3;
}

.page-side-nav a {
  @apply .inline-block .mb-1;
}

.page-side-nav :first-child {
  @apply .mt-4;
}

.app-side-nav .logo-link {
  @apply .text-black .no-underline .text-green-dark;
}

.app-side-nav .logo-link:hover {
  @apply .no-underline;
}

#api-reference .api-nav-container {
  @apply .flex;
}

.fixed-nav .scroll-top-link {
  @apply .inline-block .mt-6 .cursor-pointer;
}

@media screen and (max-width: 490px) {
  #api-reference .api-nav-container {
    @apply .flex-col-reverse;
  }

  #api-reference .page-side-nav {
    width: 100%;
  }

  .fixed-nav .scroll-top-link {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 16px;
  }
}

@media screen and (min-width: 491px) {
  #api-reference .page-side-nav {
    @apply .w-1/5;
  }

  #api-reference .api-index-nav {
    @apply .w-4/5 .pr-8;
  }
}
