
<div class="w-4/5">
  <h2>Overview</h2>

  <section>
    <p>Yup is a JavaScript object schema validator and object parser. This is an Ember port of the <a href="https://github.com/jquense/yup">Yup validation library</a>.</p>
    <p>This library enables Ember apps to import Yup and includes components that can aid with validating data.</p>
  </section>

  <h2 class="mt-8">Installation</h2>

  <section>
    {{markdown-to-html installationInstructions class="codeblock"}}
    <p>This will install the <a href="https://github.com/jquense/yup" target="_blank" rel="noopener noreferrer">yup</a> npm module and <a href="https://github.com/rwjblue/ember-cli-cjs-transform" target="_blank" rel="noopener noreferrer">ember-cli-cjs-transform</a> Ember addon.</p>
    <p>See the {{link-to "quick start" "getting-started.quick-start"}} section for a tutorial of how to validate data.</p>
  </section>
</div>
